
@{
    ViewData["Title"] = "Create";
}


<form method="post">
    <input type="text" name="Id" placeholder="Id" class="form-control" />
    <input type="text" name="Name" placeholder="course" class="form-control"/>
    <input type="submit" value="Create" class="btn btn-success" />
</form>


