
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="/course/details/@item.Id">Details</a></td>
            <td><a href="/course/update/@item.Id">Update</a></td>
        </tr>
}
