
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>
<form method="post">
    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />

    <input type="text" name="Username" value="@Model.Username" placeholder="Username" class="form-control"/>

    <input type="text" name="Email" value="@Model.Email" placeholder="Email" class="form-control" />

    <input type="password" name="Password" value="@Model.Password"
</form>

